src/main/resources/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library" type="libraryType"/>
  <xs:complexType name="librarianType">
    <xs:sequence>
      <xs:element type="xs:string" name="email"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="phoneNumber"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element name="author">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="copiesNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="productionYear">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="publisher"/>
      <xs:element type="xs:string" name="status"/>
      <xs:element name="title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="borrowingType">
    <xs:sequence>
      <xs:element name="borrowDate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="itemType" name="item"/>
      <xs:element name="returnDate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subscribersType">
    <xs:sequence>
      <xs:element type="xs:string" name="address"/>
      <xs:element type="borrowingType" name="borrowing" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="email"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="phone"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libraryType">
    <xs:sequence>
      <xs:element type="xs:string" name="address"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="librarianType" name="librarian"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="subscribersType" name="subscribers"/>
      <xs:element type="xs:string" name="workHours"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>